.accept-typography {
  display: inline-flex;
  margin: 0 5px;

  span {
    transform: translate3d(0, 100%, 0);
    display: inline-block;
    opacity: 0;

    .accept-typography-active & {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
}

.accept-typography-active.intro__title{
  line-height: 1.3;
}

.intro__title {
  .accept-typography {
    transform: translateY(-30%);
    overflow: hidden;

    &:first-child {
      transform: translateY(0);
    }
  }
}

.accept-typography__special{
  margin-left: 8px;
  margin-right: 8px;
}
